@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<h2>Thông tin các loại hàng hóa </h2>
<p>
    <a href="@Url.Action("themLHH")">Thêm mới</a>
</p>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Mã loại</th>
        <th>Tên loại</th>
        <th>Tác vụ</th>
    </tr>
    @{
        foreach (var item in ViewBag.lhh)
        {
        <tr>
            <td>@item.maloai</td>
            <td>@item.tenloai</td>
            <td>
                <a href="@Url.Action("suaLHH","loaihanghoa",new { id =
                    item.maloai })">Sửa</a> |
                <a href="@Url.Action("xoaLHH","loaihanghoa",new { id =
                    item.maloai })">Xóa</a>
            </td>
        </tr>
        }
    }
</table>