
@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<h2>Thông tin nhân viên</h2>
<p>
    <a href="@Url.Action("themNV")">Thêm mới</a>
</p>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        <th>Ngày sinh</th>
        <th>Phái</th>
        <th>Địa chỉ</th>
        <th>Password</th>
        <th>Tác vụ</th>
    </tr>
    @{
        foreach (var item in ViewBag.nv)
        {
        <tr>
            <td>@item.manv</td>
            <td>@item.tennv</td>
            <td>@item.ngaysinh</td>
            <td>@(item.phai == true?"Nam":"Nu")</td>
            <td>@item.diachi</td>
            <td>@item.password</td>
            <td>
                <a href="@Url.Action("suaNV","nhanvien",new { id = item.manv })">Sửa</a> |
                <a href="@Url.Action("xoaNV","nhanvien",new { id = item.manv })">Xóa</a>
            </td>
        </tr>
        }
    }
</table>