@using QLBH.Models
@{
    Layout = null;
}
<h2>Xóa thông tin nhân viên</h2>
<h3>Bạn muốn xóa nhân viên này ?</h3>
<form method="post">
    <div class="form-group">
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Phái</th>
                <th>Địa chỉ</th>
                <th>Password</th>
            </tr>
            <tr>
                @{
                    nhanvien n = ViewBag.nv;
                }
                <td>
                    <input type="hidden" name="manv" value="@n.manv" />
                    <label for="tennv">@n.tennv</label>
                </td>
                <td>
                    <label for="ngaysinh">@Convert.ToDateTime(n.ngaysinh).ToShortDateString()</label>
                </td>
                <td>
                    <label for="phai">@n.phai</label>
                </td>
                <td>
                    <label for="diachi">@n.diachi</label>
                </td>
                <td>
                    <label for="password">@n.password</label>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Xóa" />
    </div>
    <br />
    <div>
        <a href="@Url.Action("indexNV")">Quay lại</a>
    </div>
</form>